backoff==1.5.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==0.12.4
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==3.0.1
peewee==2.10.2
psutil==5.4.8
requests==2.20.1
requests-oauthlib==1.2.0
sqlitedict==1.5.0
urllib3==1.24.1
Werkzeug==0.14.1
